/* element HTML */

p,
li {
  font-size: 90%;
}
h2 {
  font-weight: 750;
}
h3,
h4 {
  font-weight: 650;
}
b {
  margin-bottom: 1%;
  margin-top: 1%;
}
ul {
  margin-left: 1.5rem;
}
ul li {
  list-style-type: circle !important;
  margin-bottom: 1%;
  margin-top: 1%;
}

/* header */
.positive-headers {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  padding: 0.8rem;
}

.detail__headers {
  background-color: #f67227;
  display: flex;
  justify-content: space-between;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.detail__button--back {
  display: flex;
  align-items: center;
  /* width:  */
}

.detail__button--back svg {
  fill: white;
}

.detail__button--back p {
  color: white;
}

/* header and main */
.detail__backgroundimage {
  background-color: rgb(228, 228, 228);
  padding-bottom: 0.6rem;
}
.detail__backgroundimage div {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
}
.detail__background {
  list-style-position: inside;
  margin: 1.5rem;
}
.price {
  font-size: small;
  font-weight: 570;
  color: #f67227;
}

/* footer */

.detail__footer {
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
}
.detail__footer svg {
  margin-top: 0.3rem;
}
.detail__footer .bt-add {
  color: #f67227;
  border: 1px solid #f67227;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.3rem;
}
.detail__footer .bt-buy {
  font-weight: 500;
  color: white;
  background-color: #f67227;
  border-radius: 5px;
  padding: 0.3rem;
}
