.background--header {
  background-color: rgb(255, 102, 0);
  position: absolute;
  /* left: calc(100% - 55rem); */
  top: -55%;
  right: auto;
  width: 140vw;
  height: 110vw;
  border-radius: 50%;
}

.container--header {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 50vh;
}

.border--header__justify {
  justify-content: space-between;
}

.border--header__option {
  border: thin solid rgb(238, 238, 238);
  /* background-color: rgba(109, 109, 109, 0.452); */
}

.border--header__justify button {
  font-size: xx-large;
  /* background-color: rgba(109, 109, 109, 0.452); */
}

/* @media (min-width: 768px) and (max-width: 1280px) {
  .background--header {
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
  .container--header {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  .background--header {
    background-color: #fd7f35;
    position: absolute;
    top: -50%;
    width: 120vw;
    height: 120vw;
    border-radius: 50%;
  }
} */
@media (max-width: 420px) {
  .background--header {
    top: -55%;
    width: 140vw;
    height: 115vw;
  }

  .container--header {
    width: 100vw;
    height: 45vh;
  }
}
@media (max-width: 320px) {
  .background--header {
    top: -30%;
    width: 140vw;
    height: 108vw;
    overflow-x: hidden;
  }

  .container--header {
    width: 106vw;
    height: 45vh;
  }
}
@media (max-width: 390px) {
  .background--header {
    top: -40%;
    width: 130vw;
    height: 90vw;
    overflow-x: hidden;
  }

  .container--header {
    width: 100vw;
    height: 45vh;
    margin-bottom: 0.5rem;
  }
}
