/* Headerlist */

.list__headershop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.textPlaceholde div input::placeholder {
  font-size: small;
  /* margin-left: 0%; */
  padding-right: 2%;
}

.background__images {
  background-color: #fff3c3;
}

.background__images img {
  border-radius: 50%;
  height: 60px !important;
  margin: auto;
}

.cards p {
  /* display: inline-block; */
  width: 100%;
  font-size: small;
  text-align: center;
  margin: auto;
}

/* textPlaceholde */

.distanceCards {
  padding: 0.5rem !important;
}
