/* Headerlist */

.list__headershop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.textPlaceholde div input::placeholder {
  font-size: small;
  /* margin-left: 0%; */
  padding-right: 2%;
}

.background__images {
  /* width: 10%; */
  background-color: #fff6d4;
}
.background__images div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 150px;
}

.background__images img {
  border-radius: 60%;
  height: auto !important;
  padding: 5px;
  margin: auto;
}

.cards p {
  /* display: inline-block; */
  width: 100%;
  padding-top: 0.5rem;
  font-size: x-small;
  text-align: center;
  margin: auto;
}

/* textPlaceholde */

.distanceCards {
  padding: 0.5rem !important;
}

/* MenuShop */

.list__categoria--active {
  /* bg-white text-orange-navbar border-b-2 border-orange-navbar rounded-b-md */
  background-color: white;
  color: #f67227;
  border-bottom: 2px solid #f67227;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
