.products__title {
  font-size: medium;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  /* margin-left: 0.25rem; */
  margin-right: 0.25rem;
  line-height: 1.25rem;
  color: rgb(83, 83, 83);
}

.products__price {
  margin-top: 0.25rem;
  line-height: 1.75;
  font-size: small;
  font-weight: 650;
  color: rgb(61, 61, 61);
}
